.button {
  margin: 10px;
}

.color-red {
  color: red;
  border-color: red;
  background-color: white;
}

.color-default {
  color: black;
  font-weight: bold;
  border-color: #CCCDDD;
  background-color: white;
}
